* {
  box-sizing: border-box;
}
font-family: 'Anton', sans-serif;

body, html, section, main, div, aside {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

article {
  background: rgba(204, 219, 220, .7);
  border-radius: 10px;
  box-shadow: 3px 3px 3px #2D2D2A;
  height: 340px;
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 250px;
}

article.selected {
  border-color: red;
  box-shadow: 0 0 20px red;
}

h2 {
  border-bottom: 2px solid #000;
  font-size: 16px;
  padding: 15px 0 5px;
}

li {
  list-style-type: none;
  margin: 3px 0px;
}

.belowFive {
  color: #CC0000;
}

.card-btn {
  background: #FFF;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #2D2D2A;
  margin-top: 10px;
  outline: none;
  width: 150px;
}

.card-btn:hover {
  cursor: pointer;
	transform: scale(1.1);
  transition-property: transform;
}

  @media screen and (max-width: 400px) {
    article {
      width: 200px
    }
  }
